<div id="sectionhome" class="container-fluid">
    <div>
        HOME
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
    </div>
</div>
<div id="sectionaboutus" class="container-fluid">
    <div>
        OVER ONS
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
    </div>
</div>
<div id="sectionprices" class="container-fluid">
    <div>
        PRIJZEN
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum..
    </div>
</div>
<div id="sectioncontact" class="container-fluid">
    <div>
        CONTACT
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        <%= link_to "Contact Us", new_contact_path, class: 'btn btn-primary' %>
    </div>
</div>